!!! 5
%html
  %head
    %title Runners
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #wrapper
      = render 'layouts/header'
      #page-wrapper
        .row
          .col-lg-12
            - if notice
              %p.alert.alert-success= notice
            - elsif alert
              %p.alert.alert-danger= alert
        = yield
